

.boxMessageError {
  color: red;
  font-weight: bold;
  text-align: center;
  height: 16px;
  opacity: 0;
  transition: .2s ;
  font-size: .8rem !important;
}

.boxMessageError.show{
    opacity: 1
}