:root {
  --colorThema: white;
  --color1: #0866ff;
  --color2: #606366;
  --color3: #c2d9ff;
  --color4: #f3f6fb;
  --fontdestaque: 'Fredoka'
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
