.boxConteiner {
  padding-top: 55px;
  margin: 0px 10px;
  padding-bottom: 50px;
  max-width: 800px;
  overflow-wrap: break-word;
}

.boxFullHeight {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  
}

@media (min-width: 700px) {
  .boxConteiner {
    margin-left: 110px;
  }
}
